<h1>Hotels</h1>

<% @hotels.each_slice(3) do |hotel_row| %>
<div class="row">
  <% hotel_row.each do |hotel| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= image_tag(hotel.image, size:"350x240") %>
      </div>
      <div class="caption">
        <h3><%= link_to hotel.name, hotel_path(hotel) %></h3>
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>
          <%= hotel.address %>
        </p>
        <p>
        <% if hotel.price > 0 %>
          SGD<%= format("%.2f", hotel.price) %> from <%= hotel.source %>
        <% else %>
        All rooms booked
        <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
<% end %>

