<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-bed"></span>
          <%= @hotel.name %>
        </h3>
      </div>
      <div class="panel-body">
        <p><%= image_tag(@hotel.image) %></p>
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>
          <%= @hotel.address %>
        </p>
      </div>
      <div class="panel-footer">
        <% if @hotel.price > 0 %>
        SGD<%= format("%.2f", @hotel.price) %> from <%= @hotel.source %>
        <% else %>
        All rooms booked!
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Back', hotels_path %>
